<ion-content class="ion-no-padding">
  <div class="background">
    <span class="logo">
      <img src="../../../assets/logo.png" alt="">
      <br>

    </span>
  </div>
  <div class="wrap-login100 p-t-50 p-b-90">
    <form class="login100-form validate-form flex-sb flex-w" _lpchecked="1">
      <span class="login100-form-title p-b-51">
        Register
      </span>
      
      <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
        <input class="input100" type="email" [(ngModel)]="email" name="username" placeholder="Email" autocomplete="off" >
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
        <input class="input100" type="password" [(ngModel)]="password" name="pass" placeholder="Password" autocomplete="off"
        >
        <span class="focus-input100"></span>
      </div>
      <div class="flex-sb-m w-full p-t-3 p-b-24">

        <div>
          <a  (click)="_location.back()" class="txt1" style="float: left;margin-bottom: 16px;text-decoration: none;">
            Already have Account? Login
          </a>
        
        </div>
      </div>
      <div class="container-login100-form-btn m-t-17">
        <button (click)="register()" class="login100-form-btn">
          Register
        </button>
      </div>
      <hr>
     
    </form>
  </div>
</ion-content>