ion-content ion-toolbar {
  --background: translucent;
}

td , th , ion-label{
  font-family: Ubuntu;
  text-align: left;
  font-weight: 600;
}


ion-card{
  box-shadow: none !important;
  border: 1px solid
}