<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      All Country Cases
    </ion-title>
   <ion-buttons slot="end">
      <ion-button [routerLink]="['map']">
        <ion-icon slot="start" name="map"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar class="search" mode="ios" (ionChange)="search()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-card *ngFor="let country of countries ">
      <ion-item>
        <ion-label>{{country.Country}}</ion-label>
      </ion-item>

      <ion-card-content>
        <table>
          <tr>
            <td colspan="2">Total Cases : <ion-text color="secondary">{{country?.TotalConfirmed | number}}</ion-text>
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>New Cases : <ion-text color="warning">{{country?.NewConfirmed | number}}</ion-text>
            </td>
          </tr>
          <tr>
            <td colspan="2">Total Recovered : <ion-text color="success">{{country?.TotalRecovered | number}}</ion-text>
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>New Recovered : <ion-text color="success">{{country?.NewRecovered | number}}</ion-text>
            </td>
          </tr>
          <tr>
            <td colspan="2">Total Deaths : <ion-text color="secondary">{{country?.TotalDeaths | number}}</ion-text>
            </td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>New Deaths : <ion-text color="danger">{{country?.NewDeaths | number}}
              </ion-text>
            </td>
          </tr>
        </table>
      </ion-card-content>
     
    </ion-card>

    
 
  </ion-list>

  
</ion-content>
